.headerContainer{
    width: 100vw;
    padding: 8px 2rem 0 2rem;
    background: #1E2027;
.wrapper{
    display: flex; 
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo{
    font-size: 1.4rem;
    font-family: 'Poppins';
    color: #FFF;
    font-weight: 700;
    letter-spacing: 3px;
    padding-bottom: 8px;
}
.links{
    max-width: 600px; 
    margin: 0 20px;
    display: flex;
    align-items: center;
    li{
        margin: 0 10px;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 3px;
        padding-bottom: 8px;
        border-bottom: 2px solid transparent;

        &:hover{
            cursor: pointer;
            filter: brightness(1.5);
            transition: filter .3s;
            padding-bottom: 8px;
            border-bottom: 2px solid #fff;
        }
    }
}
}
